/*Styling the body*/
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #221134;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}
/*Styling the H1 tag*/
h1 {
    font-size: 3rem;
    color: #ff6f61;
    margin-bottom: 40px;
    text-shadow: 2px 2px #ffd54f;
    background-color: #ffe761;
}
/*Adjusting the image holder*/
.image-container {
    display: flex;
    flex-direction: column;/* Flex to help scroll the images in a column*/
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

figure {
    margin: 0;
    padding: 20px;
    background-color: #00193f;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    max-width: 90%;
    transition: transform 0.3s;
}

/*Captions for the images*/
figcaption {
    font-size: 0.95rem;
    color: #ffffff;
    margin-top: 10px;
}

figcaption a {
    color: #f6f89e;
    text-decoration: none;
    font-weight: bold;
}

figcaption a:hover {
    text-decoration: underline;
}

